<ul id="navigation">
    <li><a href="<%= Uhuru::RepositoryManager::ADMIN_PRODUCTS %>">Products</a></li>
    <li><a href="<%= Uhuru::RepositoryManager::ADMIN_MIRRORS %>">Mirrors</a></li>
    <li><a href="<%= Uhuru::RepositoryManager::ADMIN_USERS %>">Users</a></li>
    <li><a href="<%= Uhuru::RepositoryManager::ADMIN_ACCESS %>">Access</a></li>
</ul>