<form action='<%= Uhuru::RepositoryManager::FORGOT_PASSWORD %>' method="post">
  <div class="login_div">
    <div class="login_content">
      <div>
        <label for="username">Email address</label>
        <input type="text" name="username" id="username" autofocus=""/>
      </div>
      <div>
        <input class="blue" type="submit" name="Submit" value="Recover" />
      </div>

      <div class="error"><p><%= defined?(error_message) && error_message != nil ? error_message.message.capitalize : ''  %></p></div>
    </div>
  </div>
</form>