<h2>This is the index page for the Uhuru repo manager</h2>

<br /><br />
<p>(testing <a href="/howto" class="blue">user section</a> and <a href="/products" class="green">admin section</a>)</p>


<br /><br />
(testing <a href="<%= Uhuru::RepositoryManager::LOGIN %>" class="blue">Login</a> or <a href="<%= Uhuru::RepositoryManager::SIGNUP %>" class="green">Register</a>)


