<%= erb :'user/navigation' %>

<div class="user_howto_view_container">
    <h2>
      Tutorial
    </h2>

    <p>This is a help section for the installation process for the ucc</p>
    <p>First go to the mirrors page and select a mirror you would like to download from</p>
    <p>Next. Download the script on your Ubuntu 10.04 box and run it as super user.</p>
    <p>The script will add the uhuru repository of the ucc. After the script ran successfully download and install the uhuru ucc</p>
</div>