<div class="view_container">
  <h1 class="page_error_h1">Page not found</h1>
  <p class="page_error_p">The page you are looking for was not found</p>
  <p>Click <a href="<%= Uhuru::RepositoryManager::DASHBOARD %>" class="blue_link">here</a> to go back to the website</p>
</div>