
<div class="view_container">
  <h1 class="page_error_h1">AN internal server error occurred</h1>
  <p class="page_error_p"><%= defined?(error) ? error : '' %></p>
  <p>Click <a href="<%= Uhuru::RepositoryManager::DASHBOARD %>" class="blue_link">here</a> to go back to the website</p>
</div>